
body{
    background-color: rgb(208, 50, 70);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-color: blanchedalmond;
    background-image:url("Capture d'écran 2024-01-15 120356.png") ;
    
filter: brightness(0%);
n
}
.shadowbox {
    width: 700px;
    height: 200px;
    border: 1px solid#333;
    box-shadow: 8px 8px 5px rgb(208, 50, 70);
    padding: 18px 32px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 400px;
    margin-left: 620px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: dashed;
    background-image: ("Capture d'écran 2024-01-15 115813.png");
  }
  
  p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
    text-align: right;
    margin-left: 400px;
  }
  #savoirplus1{
    display: none;
  }